<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright © 2018-2019 <a href="https://adminlte.io">Ivan Almeida</a>.</strong> All rights
    reserved.
  </footer>