<div class="col-md-6" style="margin-left: 0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input type="email" 
            [(ngModel)]="user.email"
            class="form-control" 
            id="inputEmail" 
            name="email"
            #email="ngModel"
            placeholder="Email"
            email>
          <span class="help-block" *ngIf="email.invalid && email.dirty">Email is Invalid</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(password.invalid, password.dirty)">
            <label for="inputpassword" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
              <input type="password" 
              [(ngModel)]="user.password"
              class="form-control" 
              id="inputpassword" 
              name="password"
              #password="ngModel"
              placeholder="Password"
              required>
            <span class="help-block" *ngIf="password.invalid && password.dirty">Password is Required</span>
            </div>
          </div>

          <div [ngClass]="getFromGroupClass(profile.invalid, profile.dirty)">
            <label for="inputProfile" class="col-sm-2 control-label">Profile</label>

            <div class="col-sm-10">
              <select 
              [(ngModel)]="user.profile"
              class="form-control select2" 
              id="inputProfile" 
              name="profile"
              #profile="ngModel"
              style="width: 100%">
                <option>ROLE_ADMIN</option>
                <option>ROLE_CUSTOMER</option>
                <option>ROLE_TECHNICIAN</option>
              </select>
            <span class="help-block" *ngIf="profile.invalid && profile.dirty">Profile is Required</span>
            </div>
          </div>
      </div>
      <div class="box-footer">
        
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Submit</button>
      </div>
    </form>
  </div>