
<header class="main-header">
    <a href="index2.html" class="logo">
      <span class="logo-mini"><b>Help</b></span>
      <span class="logo-lg"><b>Help Desk</b></span>
    </a>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">        
         <p style="color: white">ivan@gmail.com - {{user}} | <button>TESTE</button></p>
      </div>

    </nav>  
  </header>