<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">     
      <ul class="sidebar-menu tree" data-widget="tree">
        <!-- Usuarios -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> List</a></li>
            <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i>New User</a></li>
          </ul>
        </li>
        <!-- Tickets-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Tickets</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> List</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> New Ticket</a></li>
          </ul>
        </li>
        <!--Summario-->
        <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>Summary</span>
              <span class="pull-right-container">
                <span class="label label-primary pull-right">4</span>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> To View</a></li>
            </ul>
          </li>
      </ul>
    </section>
</aside>
  